<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:form_path, user_path) %>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
    <div class="clearfix"></div>
    <div class="option">
      <div>
        フォロワーが増えた時に登録先のメールアドレスに通知メールを送信する。
      </div>
      <label>
        <input class="notify_add_follower" type="checkbox" <%= @user.notify_add_follower ? "checked" : "" %> data-toggle="toggle" data-on="送信する" data-off="送信しない" data-onstyle="success" data-offstyle="danger">
      </label>
    </div>
    <div class="client">
      <%= form_for(@user) do |f| %>
          <%= f.label :client_id_token %>
          <%= f.text_field :client_id_token, class: 'form-control', :readonly => true %>
          <%= f.label :client_secret_token %>
          <%= f.text_field :client_secret_token, class: 'form-control', :readonly => true %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.notify_add_follower').bind('change', () => {
        $.ajax({
            url: "change_notify",
            type: "GET",
            data: {
//                one_time_token: '',
            },
            dataType: "html",
            success: function (data) {
                console.log('success');
            },
            error: function (data) {
                console.log('errror');
            }
        });
    });
</script>