<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= p micropost.content%>
    <%= simple_format(sanitize micropost.content,  attributes: %w(href target)) %>
    <a href="https://qiita.com" target="blank">Qiita</a>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                  data: {confirm: "You sure?"} %>
    <% end %>
  </span>
</li>
